Servicios Web/Proyectos/Ejemplo4-WS-Conversor/WebContent/wsdl/Conversor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example.com" xmlns:intf="http://example.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="ptsEuros">
    <complexType>
     <sequence>
      <element name="pts" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="ptsEurosResponse">
    <complexType>
     <sequence>
      <element name="ptsEurosReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="eurosPts">
    <complexType>
     <sequence>
      <element name="euros" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="eurosPtsResponse">
    <complexType>
     <sequence>
      <element name="eurosPtsReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="ptsEurosResponse">

      <wsdl:part element="impl:ptsEurosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ptsEurosRequest">

      <wsdl:part element="impl:ptsEuros" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="eurosPtsRequest">

      <wsdl:part element="impl:eurosPts" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="eurosPtsResponse">

      <wsdl:part element="impl:eurosPtsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Conversor">

      <wsdl:operation name="ptsEuros">

         <wsdl:input message="impl:ptsEurosRequest" name="ptsEurosRequest">

       </wsdl:input>

         <wsdl:output message="impl:ptsEurosResponse" name="ptsEurosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="eurosPts">

         <wsdl:input message="impl:eurosPtsRequest" name="eurosPtsRequest">

       </wsdl:input>

         <wsdl:output message="impl:eurosPtsResponse" name="eurosPtsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ConversorSoapBinding" type="impl:Conversor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="ptsEuros">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ptsEurosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ptsEurosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="eurosPts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="eurosPtsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="eurosPtsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ConversorService">

      <wsdl:port binding="impl:ConversorSoapBinding" name="Conversor">

         <wsdlsoap:address location="http://localhost:8080/Ejemplo4-WS-Conversor/services/Conversor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
