Servicios Web/Proyectos/Ejemplo6-WS-Empleados/WebContent/wsdl/GestionEmpleados.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example.com" xmlns:intf="http://example.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="buscar">
    <complexType>
     <sequence>
      <element name="numero" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarResponse">
    <complexType>
     <sequence>
      <element name="buscarReturn" type="impl:Empleado"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Empleado">
    <sequence>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="numero" type="xsd:int"/>
     <element name="sueldo" type="xsd:double"/>
    </sequence>
   </complexType>
   <element name="mostrarInfo">
    <complexType>
     <sequence>
      <element name="empleado" type="impl:Empleado"/>
     </sequence>
    </complexType>
   </element>
   <element name="mostrarInfoResponse">
    <complexType>
     <sequence>
      <element name="mostrarInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="mostrarInfoResponse">

      <wsdl:part element="impl:mostrarInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mostrarInfoRequest">

      <wsdl:part element="impl:mostrarInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarResponse">

      <wsdl:part element="impl:buscarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarRequest">

      <wsdl:part element="impl:buscar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GestionEmpleados">

      <wsdl:operation name="buscar">

         <wsdl:input message="impl:buscarRequest" name="buscarRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarResponse" name="buscarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mostrarInfo">

         <wsdl:input message="impl:mostrarInfoRequest" name="mostrarInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:mostrarInfoResponse" name="mostrarInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GestionEmpleadosSoapBinding" type="impl:GestionEmpleados">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="buscar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mostrarInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mostrarInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mostrarInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GestionEmpleadosService">

      <wsdl:port binding="impl:GestionEmpleadosSoapBinding" name="GestionEmpleados">

         <wsdlsoap:address location="http://localhost:8080/Ejemplo6-WS-Empleados/services/GestionEmpleados"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
